@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "MyMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

    <head>
        <link href="~/Styles/MyAccount.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            });
        </script>
    </head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>MyMessages</h2>
<br />
<h3>your sent messages</h3>
<table class="table table-hover">
    <tr>


        
        <th>subject</th>

    </tr>
    @foreach (var detail in ViewBag.sent)
    {

        <tr class='clickable-row' data-href='@Url.Action("Message", "Account/Message", new { clicked_value = @detail.message_ID  , subject= detail.subject})'>
             
                <td> <div class="subject">@detail.subject</div>  </td>
        </tr>

    }



    

</table>
 
