
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Register.cshtml";
}

<body>
    <div>
        
        <div class="login-page">
            <div class="form">
                <form class="register-form" action="RegisterVerify" method="POST">
                    <input type="text" placeholder="username" name="Name" />
                    <input type="password" placeholder="password" name="Password" />
                    <input type="text" placeholder="location" name="location" />
                    <input type="text" placeholder="e-mail" name="email" />
                    <input type="text" placeholder="full name" name="full_name" />
                    <input type="number" placeholder="phone number" name="phone_NR" />
                    <button>create</button>

                </form>
                <p class="message">Already registered? <a href="/Account/Login">Sign In</a></p>
            </div>
</body>
</html>

