@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "ShowTags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>Tags</h2>

<form action="EditTags" method="POST">
   

    <fieldset>
        <legend>Add tags</legend>
        <div class="form-group row">
            <label for="staticusername" class="col-sm-2 col-form-label">username</label>
          
            <select id="tags"  name="tagname">
                @foreach (var details in ViewBag.list1)
                {
                    <option value="@details.tagname">@details.tagname</option>
                }
            </select>
            
</fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>

  
</form>

<form action="DeleteTags" method="POST">


    <fieldset>
        <legend>Delete tags</legend>
        <div class="form-group row">
            <label for="staticusername" class="col-sm-2 col-form-label">username</label>

            <select id="tags" name="tagname">
                @foreach (var details in ViewBag.list2)
                {
                    <option value="@details.tagname" name="tagname">@details.tagname</option>
                }
            </select>

    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>
