
@{
    ViewBag.Title = "writeFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Feedback</h2>
<div class="review_text">
<p>Do you like our website or hate it. Do you experience either technical- or content-related issues? We are pleased if you let us know what you think about our website </p>
    </div>
<form action="storeFeedback" method="POST">
    <div class="feedback-container">
        <fieldset>
        <div class="form-group">
            <label for="subjectinput">Subject</label>
            <input type="text" class="form-control" id="exampleInputsubject" aria-describedby="subjectHelp" name="subject" placeholder='subject'>
        </div>


        <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" name="feedback_text" spellcheck="false"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Feedback</button>
        </fieldset>
    </div>
</form>