<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Login.css" rel="stylesheet" />
    <script src="~/Scripts/login.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
