@model IEnumerable<WebApplicationFinal.Models.ExploreClass>
<head>
    <script src="~/Scripts/Slideshow.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Frontpage.css" />
    <script src="~/Scripts/Slideshow.js"></script>
   <head/>

    <body>
        <div class="slider" id="main-slider">
            <!-- outermost container element -->
            <div class="slider-wrapper">
                <!-- innermost wrapper element -->
                <img src="~/Photos/forest-dark.jpg" alt="First" class="slide" /><!-- slides -->
                <img src="~/Photos/forest.jpg" alt="Second" class="slide" />
                <img src="~/Photos/norway-island.jpg" alt="Third" class="slide" />
            </div>
        </div>

        <h1>Trips</h1>
        <div class="grid-container">
            @foreach (WebApplicationFinal.Models.ExploreClass details in Model)
            {

                <div class="item">   <img src="data:image;base64,@System.Convert.ToBase64String(details.image)" /><h3>@details.description</h3> <p>@details.area_ID_area</p></div>

            }
        </div>
    </body>
