

<link rel="stylesheet" type="text/css" href="../Content/Site.css" />
<link rel="stylesheet" type="text/css" href="../Content/Frontpage.css" />
<script src="~/Scripts/Slideshow.js"></script>




@{ string cookievalue;
    if (Request.Cookies["UserCookie"] != null)
    {

        cookievalue = Request.Cookies["UserCookie"].Value.ToString();
        @cookievalue
    }
    else
    {

    }
}



<asp:HyperLink ID="HyperLink2"
               runat="server">
    abc
</asp:HyperLink>

<div class="slider" id="main-slider">
    <!-- outermost container element -->
    <div class="slider-wrapper">
        <!-- innermost wrapper element -->
        <img src="~/Photos/forest-dark.jpg" alt="First" class="slide" /><!-- slides -->
        <img src="~/Photos/forest.jpg" alt="Second" class="slide" />
        <img src="~/Photos/norway-island.jpg" alt="Third" class="slide" />
    </div>
</div>

<div class="trips-container">
    <div class="trips">

        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>
    </div>
    <div class="trips">
        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>

    </div>
    <div class="trips">
        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>

    </div>
    <div class="trips">
        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>

    </div>
    <div class="trips">
        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>

    </div>
    <div class="trips">
        <img src="~/Photos/city_street_maps_dribbble.jpg" width="200" height="100" />
        <h3>Lorem ipseum</h3>
        <p>
            Neque porro quisquam est qui dolorem
            ipsum quia dolor sit amet,
            consectetur, adipisci velit
        </p>

    </div>
</div>
