<h2>Welcome to ASP.net mvc @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<h3>sjå på her ja</h3>
<img src" /Photos/geiranger.jpg" alt=" Geiranger bakgrunnsbilde" height="900" width="900" />
følgende sider som fungerer til nå:<br />
<a href="https://localhost:44364/Account/Login"> Du kan registrere deg her</a><br />
<a href="https://localhost:44364/Mysq"> Se admin tabell</a>