
﻿<h2>Welcome to ASP.net mvc @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<img src" /Photos/geiranger.jpg" alt=" Geiranger bakgrunnsbilde" height="900" width="900" />
følgende sider som fungerer til nå:
<br />
<a href="https://localhost:44364/Account/Login"> Du kan registrere deg her</a>
<br />
<a href="https://localhost:44364/Mysql/ShowAdmin"> Se admin tabell</a>


<link rel="stylesheet" type="text/css" href="Site.css" />
<script src="~/Scripts/Slideshow.js"></script>

<div class="slider" id="main-slider">
    <!-- outermost container element -->
    <div class="slider-wrapper">
        <!-- innermost wrapper element -->
        <img src="http://php-test/images/norway-island.jpg" alt="First" class="slide" /><!-- slides -->
        <img src="http://php-test/images/norway-sunset.jpg" alt="Second" class="slide" />
        <img src="http://php-test/images/forest-dark.jpg" alt="Third" class="slide" />
    </div>
</div>
<a href="https://localhost:44364/Account/Login"> Du kan registrere deg her</a>
<br />
<a href="https://localhost:44364/Mysq"> Se admin tabell</a>
