@{
    ViewBag.Title = "Satyaprakash Metro City Google Map";
}

<head>
    <style>
        .body-content {
        margin:0;
        padding:0;
        }
        .map_content {
           
        }
        .map-container {
          
           
            
            height: 0;

            
        }
    </style>
</head>

<title>@ViewBag.Title</title> 

<div class="map-container">
  

<fieldset>
   
    <div id="SatyaMap" style="width: 100%; height: 600px; position: absolute;">
        @*set google map size .*@
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXIYBi8WK7uE93JnEIXiXfHQjCXdBUx8U&"
            type="text/javascript"></script> @*api key after sign in your google account.*@
            <script type="text/javascript">

        var markers = @Html.Raw(ViewBag.Markers); //all string value of column properties to viewbag.
        window.onload = function () {
            var mapOptions = {

                center: new google.maps.LatLng(parseInt(markers[0].lat), parseInt(markers[0].lng)), //which city will be shown.
                zoom: 9, //google map page zoom
                mapTypeId: google.maps.MapTypeId.ROADMAP //type of view.
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("SatyaMap"), mapOptions);//pass div id and google map load values.
            for (i = 0; i < markers.length; i++) { //here load all city map name
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng); //here i assigned lat and long.
                var marker = new google.maps.Marker({
                    position: myLatlng, //lat and long value
                    map: map, //div id
                    title: data.title //city name
                });
                (function (marker, data) { //here city map description after click on it.
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description); //city description value
                        infoWindow.open(map, marker); //then pop will show  the description
                    });
                })(marker, data);
            }
            var lat = markers[0].lat;
            var res = lat.replace(",", ".");
            var let = markers[0].lng;
            var ras = let.replace(",",".");

            console.log(res);


            var myLatLng = {lat:Number(res) , lng: Number(ras)};

        var map = new google.maps.Map(document.getElementById('SatyaMap'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });

            

            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+ markers[0].title +'</h1>'+
                '<div id="bodyContent">' +
                "<img src= data:image;base64, />"+
            '<p>'+ markers[0].description +'</p>'+
            "<p><a href='"+markers[0].website +"'> link to homepage<a/>"+
            '.</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });






            marker.addListener('click', function() {
          infowindow.open(map, marker);
            });





           
        }







                
            </script>
        </fieldset>

    </div>