@{
    ViewBag.Title = "Satyaprakash Metro City Google Map";
}

<head>
    <style>
        .body-content {
        margin:0;
        padding:0;
        }
     
        .map-container {
            height: 0;
        }
    </style>
</head>

<title>@ViewBag.Title</title> 

<div class="map-container">
  

    <fieldset>

        <div id="dvMap" style="width: 1000px; height: 500px">
        </div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXIYBi8WK7uE93JnEIXiXfHQjCXdBUx8U&" type="text/javascript"></script> @*api key after sign in your google account.*@
        <script type="text/javascript">

                  var markers = @Html.Raw(ViewBag.Markers);
                window.onload = function () {
             var lat = markers[0].lat;
            var res = lat.replace(",", ".");
            var let = markers[0].lng;
            var ras = let.replace(",",".");
            var mapOptions = {
                center: new google.maps.LatLng(res, ras),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                  var lat = markers[i].lat;
            var res = lat.replace(",", ".");
            var let = markers[i].lng;
                var ras = let.replace(",", ".");

                var myLatlng = new google.maps.LatLng(res, ras);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });


                var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+ markers[0].title +'</h1>'+
                '<div id="bodyContent">' +
                "<img src= data:image;base64, />"+
            '<p>'+ markers[0].description +'</p>'+
            "<p><a href='"+markers[0].website +"'> link to homepage<a/>"+
            '.</p>'+
            '</div>'+
            '</div>';


                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent('<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+data.title +'</h1>'+
                '<div id="bodyContent">' +
                "<img src= data:image;base64, />"+
            '<p>'+data.description+'</p>'+
            "<p><a href='"+data.website+"'> link to homepage<a/>"+
            '.</p>'+
            '</div>'+
            '</div>');
                        infoWindow.open(map, marker);
                    });
                })(marker, data);


            }
        }
           /*
            var lat = markers[0].lat;
            var res = lat.replace(",", ".");
            var let = markers[0].lng;
            var ras = let.replace(",",".");

            console.log(res);


            var myLatLng = {lat:Number(res) , lng: Number(ras)};

        var map = new google.maps.Map(document.getElementById('SatyaMap'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });



            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+ markers[0].title +'</h1>'+
                '<div id="bodyContent">' +
                "<img src= data:image;base64, />"+
            '<p>'+ markers[0].description +'</p>'+
            "<p><a href='"+markers[0].website +"'> link to homepage<a/>"+
            '.</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });






            marker.addListener('click', function() {
          infowindow.open(map, marker);
            });






                    }*/

        </script>
    </fieldset>

    </div>