@{
    ViewBag.Title = "Tips For Trips";
}

<head>
    <style>

        .gm-style img {
            max-width: none;
            max-width: 100%;
            max-height: 300px;
        }

  

        .body-content {
            all: initial;
            *

        {
            all: unset;
        }

        }

        .body-content {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #888;
            text-align: left;
            background-color: #fff;
        }

        
    </style>
</head>

<title>@ViewBag.Title</title> 

<div class="map-container">
  

    <fieldset>

        <div id="dvMap" style=" height: 500px">
        </div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXIYBi8WK7uE93JnEIXiXfHQjCXdBUx8U&" type="text/javascript"></script> @*api key after sign in your google account.*@
        <script type="text/javascript">

                  var markers = @Html.Raw(ViewBag.Markers);
                window.onload = function () {
             var lat = markers[0].lat;
            var res = lat.replace(",", ".");
            var let = markers[0].lng;
            var ras = let.replace(",",".");
            var mapOptions = {
                center: new google.maps.LatLng(res, ras),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                  var lat = markers[i].lat;
            var res = lat.replace(",", ".");
            var let = markers[i].lng;
                var ras = let.replace(",", ".");

                var myLatlng = new google.maps.LatLng(res, ras);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });

               
                       var contentString = '<div id="content">' +
                            +' <a class="trips" href="/Explore/Trip?ams='+markers[0].trip_id+'">'+
                   '<div id="siteNotice">'+
                   '</div>'+
                   '<h1 id="firstHeading" class="firstHeading">'+ markers[0].title +'</h1>'+
                       '<div id="bodyContent">' +
                       "<img src= data:image;base64, />"+
                   '<p>'+ markers[0].description +'</p>'+
                   "<p><a href='"+markers[0].website +"'> link to homepage<a/>"+
                   '.</p>'+
                   '</div>'+
                   '</div>';


                       (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                           infoWindow.setContent('<div id="content">'+
               '<div id="siteNotice">'+
                               '</div>' +
                               ' <a class="trips" href="/Explore/Trip?ams='+data.trip_id+'">'+
               '<h1 id="firstHeading" class="firstHeading">'+data.title +'</h1>'+
                   '<div id="bodyContent">' +
                   '<img src=" data:image/jpeg;base64,' + data.image + '"/>'+
               '<p>'+data.description+'</p>'+
               "<p><a href='"+data.website+"'> link to homepage</a>"+
               '.</p>'+
               '</div>'+
               '</div>');
                           infoWindow.open(map, marker);
                       });
                })(marker, data);


            }
        }
        </script>
    </fieldset>

    </div>