@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Login.cshtml";
}

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>login</title>

        <script>
             document.cookie = "@ViewBag.JS=; expires=Thu, 01 Jan 2050 00:00:01 GMT;'";
            var x = document.cookie;
            console.log(x);
        </script>
        <link href="Login.css" rel="stylesheet" />
        <script>
        var document.cookie = "null";
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    </head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="login-page">


    <div class="form" id="toggle">

        <form action="LoginVerify" method="POST" class="login-form">
            <h3>Log in</h3>
            <div class='row'>
                <label for='username'>Username</label>
                <div class='info'>
                    &#8627;
                    <span class='length'>at least 5 characters long,</span>
                    <span class='spaces'>no spaces</span>
                    <div class='availability hidden'>
                        &#8627;
                        <span class='error'>name is already taken</span>
                    </div>
                </div>
                <input type='text' id='username' name="Name" placeholder='johnnysmith' />
            </div>
            <div class='row'>
                <label for='password'>Password</label>
                <div class='info'>
                    &#8627;
                    <span class='length'>at least 5 characters long</span>
                </div>
                <input type='password' id='Password' name="Password" placeholder='&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;' />
            </div>
            <div class='row'>
                <button type="submit">Login</button>
            </div>

        </form>
        <p class="message">Not registered? <a href="/LoginAndRegister/Register">Create an account</a></p>
    </div>
</div>


  
 
    

<script src="login.js"></script>
