img {
    max-width: 100%;
    height: auto;
    margin: 0px ;
    padding: 0px;
} 


/* Set padding to keep content from hitting the edges */
.body-content {

} 

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html, body {
    margin: 0;
    padding: 0;
}


.slider {
    width: 100%;
    height: auto;
}

.slider-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
}

.slide {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.grid-container > div {
        background-color: #f0f5f5;
        border: 1px solid #D3D8DC;
        text-align: left;
         
}
.grid-container h3, p {
    margin-left: 0,2em !important;
}
.grid-container img {
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
