body{
    margin:0%;
}

.trips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    color: #444;
    
}
.trips-container img {
    width: 100%;
    height: 50%;
}


.trips {
    margin: 5px;
    min-width:200px;
    width: 30%;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    
    align-self: auto;
}


.container-page {
   
    
    
    background-color: #fff;
    color: #444;
}

.menu {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #78C2AD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.filter{
    margin-left:20px;
    margin-right:10px;
}

.diff{
    margin-bottom:20px;
}