body {
}

.myaccount-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
   
}

.account-element {
    margin: 5px;
    padding: 10px;
    min-width: 200px;
    width: 40%;
    background-color: #f2f2f2;
    color: black;
    align-self: auto;
}

.tags {
    margin: 5px;
    padding: 10px;
    min-width: 200px;
    width: 40%;
    background-color: #f2f2f2;
    color: black;
    align-self: auto;
}
button {
    position: static;
    float: center;
}


form{
    margin-bottom: 20px;
}
