body {
}

.trip_name {
    font-size: 50px;
    
}

.lendif {
display:flex;
flex-direction:row;
}


.content {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:20px;
}

.info {
  width:50%;
  padding-right:10px;
}


.map-responsive {
    overflow: hidden;
    position: relative;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 300px;
        width: 100%;
        position: relative;
        max-width: 100%;
    }