body {
}

.areaid {
    font-size: 50px;
    
}

.map {

}
.content {
display: flex;
flex-direction:row;

  flex-wrap:wrap;
  
   
}

.body-content {
    margin: 0;
    padding: 0;
}

.map_content {
}

.map-container {
    height: 0;
}

.info {
  width:50%;
  padding-right:10px;
}
.body-content {
    margin: 0;
    padding: 0;
}

.map_content {
}

.map-container {
    height: 0;
}